Claim_Motor.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2017 - Developer Bundle Edition (Education) 15.1.16.7872 (https://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="claim">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="policy_information" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="policy_no" type="xs:string" minOccurs="0" />
                            <xs:element name="name_policyholder" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="driver_details" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string" minOccurs="0" />
                            <xs:element name="nric" type="xs:string" minOccurs="0" />
                            <xs:element name="dob" type="xs:date" minOccurs="0" />
                            <xs:element name="sex" type="xs:string" minOccurs="0" />
                            <xs:element name="contact_no" type="xs:integer" minOccurs="0" />
                            <xs:element name="email" type="xs:string" minOccurs="0" />
                            <xs:element name="address" type="xs:string" minOccurs="0" />
                            <xs:element name="vehicle_no" type="xs:string" minOccurs="0" />
                            <xs:element name="pass_date" type="xs:date" minOccurs="0" />
                            <xs:element name="occupation" type="xs:string" minOccurs="0" />
                            <xs:element name="purpose" type="xs:string" minOccurs="0" />
                            <xs:element name="relationship" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="description" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="date" type="xs:date" minOccurs="0" />
                            <xs:element name="time" type="xs:time" minOccurs="0" />
                            <xs:element name="location" type="xs:string" minOccurs="0" />
                            <xs:element name="brief_description" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>